body {
	margin: 0;
}
[data-tooltip] {
	position: relative;
	cursor: pointer;
	font-size: 12px;
	border-radius: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
}
[data-tooltip]:before {
	content: attr(data-tooltip);
	position: absolute;
	opacity: 0;
	bottom: 25px;
	padding: 0.5em;
	background-color: black;
	border-radius: 0.25em;
	color: white;
	text-align: center;
	transition: 0.2s;
	pointer-events: none;
}
[data-tooltip]:after {
	content: "";
	position: absolute;
	opacity: 0;
	bottom: 15px;
	border: 5px solid black;
	border-color: black transparent transparent transparent;
	transition: 0.2s;
	pointer-events: none;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	opacity: 1;
}

.content {
	display: flex;
	height: calc(100vh - 3.75rem);
	position: relative;
}
.left-navbar {
	background-color: #ebeaea;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	.sidebar {
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		list-style-type: none;
		li {
			display: flex;
			align-items: center;
			padding: 20px 12px;
			border-bottom: 1px solid #ccc;
			&:last-child {
				border-bottom: 0;
			}
		}
	}
}
.sidebar-content {
	background-color: #e0e0e0;
	color: #8b8787;
	display: flex;
	flex-direction: column;
	padding: 0px 10px;
	h2 {
		font-weight: bold;
		font-size: 24px;
	}
	p {
		font-size: 10px;
		margin: 0;
	}
	.text-Input {
		font-size: 12px;
		min-width: 250px;
		padding: 8px 6px;
		background-color: #fff;
		border: none;
		margin: 6px 0 16px 0;
		box-shadow: (0px 2px 2px rgba(0, 0, 0, 0.25));
		border-radius: 2px;
		outline: none;
	}
	button {
		font-size: 12px;
		color: #2d4262;
		padding: 8px 32px;
		border: dotted #8b8787 0.5px;
		box-shadow: (0px 2px 2px rgba(0, 0, 0, 0.25));
		border-radius: 2px;
		margin: 0 3rem;
		margin-top: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		&:hover {
			cursor: pointer;
		}
		img {
			margin-right: 3px;
		}
	}
	.color-container {
		font-size: 12px;
		min-width: 250px;
		padding: 8px 6px;
		background-color: #fff;
		border: none;
		margin: 6px 0 16px 0;
		box-shadow: (0px 2px 2px rgba(0, 0, 0, 0.25));
		border-radius: 2px;
		display: grid;
		gap: 4px;
		grid-template-columns: repeat(10, 1fr);

		.color-box {
			width: 1.5rem;
			height: 1.5rem;
			border-radius: 2px;
			background-color: red;
			cursor: pointer;
			transition: 0.3s ease-in-out;
			&:hover {
				border: #363237 0.5px solid;
			}
		}
		.hex-box {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.color-picker {
			transition: 0s;
			border: none;
			outline: none;
			background-color: 0;
			-webkit-appearance: none;
			background: linear-gradient(
				to bottom right,
				red,
				orange,
				white,
				orange,
				red
			);
		}
		.color-picker::-webkit-color-swatch-wrapper {
			padding: 0;
		}
		.color-picker::-webkit-color-swatch {
			border: none;
			border-radius: 50%;
		}
		.hex-color {
			grid-column: 6 / 12;
			min-width: 0;
			margin: 0;
			box-shadow: none;
			border: #e0e0e0 0.5px solid;
			height: 1.5rem;
		}
	}
}
.canva-container {
	background-color: #363237;
	width: 100%;
	position: relative;
	overflow: hidden;
	.canva-container-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		h6 {
			font-weight: bold;
			font-size: 16px;
			color: #8b8787;
		}
		.canva {
			width: 80%;
			height: 70%;
			background-color: #d09683;
			position: relative;
			overflow: hidden;
			p {
				margin: 0 auto;
				padding: 8px 12px;
				cursor: default;
				position: relative;
				display: inline-block;
				white-space: nowrap;
				&:hover {
					text-decoration: underline #0c8ce9 2px;
				}
			}
			.active {
				cursor: move;
				user-select: none;
				border: #0c8ce9 1px dotted;
			}
		}
		button {
			margin-top: 3rem;
			font-size: 12px;
			color: #fff;
			padding: 8px 32px;
			border: dotted #2d4262 0.5px;
			box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
			background-color: #2d4262;
			border-radius: 2px;
		}
	}
}
.right-navbar {
	background-color: #ebeaea;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	.sidebar {
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		list-style-type: none;
		li {
			display: flex;
			align-items: center;
			padding: 16px 6px;
			border-bottom: 1px solid #ccc;
			&:last-child {
				border-bottom: 0;
			}
			input {
				cursor: pointer;
			}
			input[class="show-ruler"] {
				position: absolute;
				opacity: 0;
			}
		}
	}
}
